/* Front Version 7.2
Created by Jerred Shepherd (RiotShielder) */

body, p, a {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

body {
    color: #5a5a5a;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.accent {
    color: #5bc0de !important;
    display: inline;
}


/* HOME PAGE */
.bg-container {
    overflow-x: hidden;
}

.bgimg {
    max-height: 640px;
    width: 1920px;
    clip: auto;
    display: block;
    margin: auto; 
}

.home-text {
    position: relative;
    bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 20px;
    color: #fff;
}

.home-title {
    font-size: 80px;
    text-shadow: 3px 3px 0px #000;
}

.home-desc {
    font-size: 17px;
    text-shadow: 2px 2px 0px #000;
    max-width: 40vw;
}

.home-img {
    position: absolute;
    top: 562px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.img-border {
    border: 8px solid rgba(151,151,151,.34);
}

.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* PLAY PAGE */
.play-servertitle {
    margin-top: 10px
}


/* SHOP PAGE */
.productbox {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}

.shop-pricepanel {
    font-size: 33px;
    margin-bottom: 0px;
}


/* STAFF PAGE */
.staff-img:hover {
    -webkit-box-shadow: 0px 0px 20px 5px #000;
    box-shadow: 0px 0px 20px 3px #000;
    transition: all 0.5s ease;
}

.staff-img {
    -webkit-box-shadow: 0px -0px 0px #000;
    box-shadow: 0px -0px 0px #000;
    transition: all 0.5s ease;
}